[2018-11-21 10:22] elbaraim opened #22 "new format for Fujita"

[2018-11-21 10:27] elbaraim opened #21 "new format for Chen"

[2019-03-19 10:49] elbaraim opened #24 "Additional Model: Blasi et al. , Cell Systems, 2016"

[2019-08-20 09:29] MerktSimon opened #28 "Visualization files for all models (list)"
This issue serves as an overview of which models already have the visualization file. During the work on each model this model's issue should be re-opened. Once all models have one this can be closed.

Models which already have a visualization file:
- Isensee
- Chen
- Fujita
- Swameye_PNAS2003
- Boehm
- Bruno_JExpBio2016
- Raia_CancerResearch2011

[2020-02-12 08:41] LeonardSchmiester opened #7 "Add new model Salazar-Cavazos et al. (2020), MBoC"
https://www.molbiolcell.org/doi/suppl/10.1091/mbc.E19-09-0548

[2020-02-12 08:45] LeonardSchmiester opened #2 "Add new model Rodman et al. (2019)"
https://www.sciencedirect.com/science/article/abs/pii/S0098135418305714

[2020-02-19 15:05] fbergmann opened #26 "measurement data in `Blasi_CellSystems2016` mistakenly transformed?"
It seems like the measurement data in `Blasi_CellSystems2016` was transformed unintentionally. Back in the Berlin hackathon the data looked like this:

[code]

now it looks like so

[code]

while the original data did mention `observableTransformation`, the data should not have been transformed.

[2020-02-26 09:50] LeonardSchmiester opened #1 "Add PEtab version info to files"
See: https://github.com/PEtab-dev/PEtab/issues/309

[2020-02-26 09:51] LeonardSchmiester opened #3 "Add new model Leonhardt et al. (2014)"
https://www.sciencedirect.com/science/article/pii/S1549963413006734?via%3Dihub

https://www.nature.com/articles/s41540-018-0079-7

PESTO Example: https://github.com/ICB-DCM/PESTO/tree/master/examples/mRNA_transfection

[2020-02-26 09:51] LeonardSchmiester opened #4 "Add new model Mikelson et al. (2019)"
https://www.embopress.org/doi/full/10.15252/msb.20198947

[2020-02-26 09:51] LeonardSchmiester opened #5 "Add new model Dudziak et al. (2019)"
https://www.sciencedirect.com/science/article/pii/S0022519319301936

[2020-02-26 09:51] LeonardSchmiester opened #6 "Add new model Lai et al. (2012)"
https://link.springer.com/protocol/10.1007%2F978-1-61779-833-7_6

[2020-02-26 09:52] JanHasenauer opened #8 "Add model Brendt_NatComm_2018"
https://www.nature.com/articles/s41467-018-04720-9

[2020-02-26 09:52] JanHasenauer opened #9 "Add model Berndt_BJC_2019"
https://www.nature.com/articles/s41416-019-0659-3

[2020-02-26 09:52] MerktSimon opened #10 "Additional Model: D’Alessandro LA, Samaga R, Maiwald T et al. PLoS CB 2015"
https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004192

[2020-02-26 09:52] LeonardSchmiester opened #11 "Add Jafarnejad et al."
Add model from https://www.nature.com/articles/s41540-019-0107-2

[2020-02-26 09:53] JanHasenauer opened #12 "Add http://www.jbc.org/content/281/13/8917.full"

[2020-02-26 09:53] LoosC opened #13 "Additional model: Korkut, 2015, eLIFE"
From the paper _Perturbation biology nominates upstream–downstream drug combinations in RAF inhibitor resistant melanoma cells_, Korkut et al. eLife 2015;4:e04640, huge parameter space, many conditions
good model for testing maybe minibatching or model reduction

[2020-02-26 09:53] LoosC opened #14 "Additional model: Casaletto, PNAS 2019"
A new model in the d2d examples, potentially interesting to also implement it here?
https://github.com/Data2Dynamics/d2d/tree/master/arFramework3/Examples/Casaletto_PNAS2019

[2020-02-26 09:53] JanHasenauer opened #15 "Additional Model: Jignesh H. Parmar & Pedro Mendes, PLoS CB, 2019"
https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1006680

The model is also available in BioModels

[2020-02-26 09:53] JanHasenauer opened #16 "Additional model: Liu et al., Sci. Signal. 9(436), ra70 (2016)"
Liu,B.,Liu,Q.,Palaniappan,S.,Bahar,I.,Thiagarajan,P.S.,Ding,J.L.:InnateImmuneMem- ory and Homeostasis May Be Conferred Through TLR3-TLR7 Pathway Crosstalk. Sci. Signal. 9(436), ra70 (2016)

[2020-02-26 09:54] JanHasenauer opened #17 "Be careful with comparison of objective function values"
For models with log-transformed observables, we have to be careful with the comparison of the objective function. Assuming that the log of a value is normally distributed is not the same as saying that the value is log-normally distributed. A 1/(measured value) is missing in the former.

For the comparison, we should account for this.

[2020-02-26 09:55] dweindl opened #18 "Create table of benchmark models and their model/data peculiarities"
This will be helpful for others who want to add PEtab support to their tools to have appropriate test cases.

Features would include, e.g.:
- Parameterized condition table
- Replicate measurements
- Multiple model files
- ...

[2020-02-26 09:55] JanHasenauer opened #19 "Write function to generate benchmark_model_characteristics.xlsx automatically"
Most of the fields are very easy to fill. We simply need the bibtex files for the models in the respective folders and (optional) also a remark file (in case several models are described in the respective paper.

[2020-02-26 09:55] LeonardSchmiester opened #20 "Update simulatedData files"
Files need to be updated to new PEtab format. Change column header to `simulation`

[2020-02-26 09:57] LoosC opened #23 "new format for swameye"

[2020-02-26 09:58] JanHasenauer opened #25 "Automatic generation of general information file"

[2020-02-26 09:59] yannikschaelte opened #27 "Multiple models in publication"
@LeonardSchmiester @PhilippStaedter please add details.

We should discuss what to do when we have multiple models in one publication. Say all use the same data and experimental conditions. So the models describe the same stuff, but maybe in more or less detail or alternative networks.

One could put all such models in the same folder and just enumerate / make the names unique. Alternative suggest

[2020-02-26 13:59] dweindl opened #32 "Add contribution guide"
Should cover how to suggest / add new models, minimum information, error reporting, agreement to license terms, ...

[2020-02-27 12:22] LeonardSchmiester commented on #24
@elbaraim When you implemented the model, did you check if the simulations match the publication?

[2020-02-27 12:24] LeonardSchmiester commented on #21
@elbaraim Any updates here?

[2020-02-27 12:26] LeonardSchmiester opened #44 "Validate Alkan model"
Import and simulation works.

@LaraFuhrmann Did you validate if the simulations match the ones from the publication? Could you create a visualization file for this?

[2020-02-27 12:29] LeonardSchmiester opened #45 "Fix Hass model"
Simulations from AMICI differ to the simulations reported in the original Benchmark collection. Maybe due to negative timepoints? Needs to be checked

[2020-02-27 12:32] LeonardSchmiester commented on #13
@MerktSimon @erikadudki Do you now the status of the model?

I can import it, but simulations fail with the current parameters

[2020-02-27 12:34] LeonardSchmiester opened #46 "Fix Lucarelli"
Cannot reproduce LLH / Chi2 values from the original Benchmark collection. Needs to be checked

[2020-02-27 12:35] LeonardSchmiester opened #47 "Fix Perelson"
Cannot simulate model with current parameters. @philippstaedter Can you check this?

[2020-02-27 12:38] LeonardSchmiester opened #48 "Fix Schwen_PONE2014"
I cannot reproduce simulations from the original Benchmark Collection. @elbaraim you implemented the model right? Could you check this?

[2020-02-27 14:24] dweindl commented on #45
Quite possible. This is currently not handled there and simulation starts at t=0.

[2020-02-27 18:45] LaraFuhrmann commented on #44
So far I only simulated the default conditions of the model, and changed them manually to compare to the plots in the paper. Those results matched.

Is there a standard way to generate the simulationData-file with the simulations for all the conditions (there are around 90 experimental conditions in this model)?

[2020-02-28 09:19] LeonardSchmiester commented on #44
Yes. After simulating the model with `simulations = simulate_petab(petab_problem=petab_problem, amici_model=amici_model)` (`from amici.petab_objective import simulate_petab`)

you can create a simulation data file with amicis `rdatas_to_measurement_df` (`from amici.petab_objective import rdatas_to_measurement_df`), by running

[code]

[2020-03-02 10:03] LeonardSchmiester commented on #44
Thanks for creating the vis file @LaraFuhrmann
If the model is working and you confirmed, that you can reproduce the figures in the respective paper, feel free to do a pull request into the master.

[2020-03-02 13:13] yannikschaelte opened #52 "Labeling of preequilibration and simulation conditions"
Can one use more informative names than `model1_data{1,2,3}`?

[2020-03-02 13:17] LeonardSchmiester commented on #52
One can. But would require a lot of manual work as some models have hundreds of simulation conditions...

[2020-03-02 13:20] yannikschaelte commented on #52
Agreed :/ If it is as simple as for the Zheng_PNAS2012 (done), Weber_BMC2015 models to distinguish preequilibration and simulation condition, it might be good to do so. But in general maybe not feasible.

[2020-03-02 15:20] LeonardSchmiester opened #54 "Fix Isensee model"
I can currently not simulate the model with AMICI because of: `At t = 60, mxstep steps taken before reaching tout`

Increasing max steps didn't help so far.

[2020-03-03 08:06] LeonardSchmiester opened #55 "Add new model Raimúndez et al. (2020)"
https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1007147

[2020-03-03 13:03] LeonardSchmiester commented on #47
Closed by f79aefb

[2020-03-03 13:03] #47 closed

[2020-03-05 09:17] LeonardSchmiester commented on #22
I added the original version of fujita. If you still want to extend the data @elbaraim please add versions to the different implementations of the model

[2020-03-05 09:25] LeonardSchmiester opened #56 "Finish Bachmann"
Needs to be checked. So far I was not able to reproduce xi2 / llh values from original benchmark collection

[2020-03-05 09:27] LeonardSchmiester opened #57 "Finish Merkle model"
Model is rather complicated and has not been worked on yet. Maybe try D2D export?

[2020-03-05 09:28] LeonardSchmiester opened #58 "Finish Raia model"
Cannot validate the model with AMICI as the noise model is not supported yet.

[2020-03-05 09:29] elbaraim commented on #57
I can try using the d2d export @LeonardSchmiester

[2020-03-07 11:26] #44 closed

[2020-03-10 12:02] LeonardSchmiester commented on #13
@MerktSimon @erikadudki you were assigned here some time ago. Is this still up to date or is someone else working on the model?

[2020-03-10 12:05] LeonardSchmiester commented on #14
The model is also in D2D I think. Maybe we can also try the D2D export here.

[2020-03-10 12:07] erikadudki commented on #13
so far we didn't work on this model, and as far as I know, no one else is working at the moment on it

[2020-03-10 12:15] LeonardSchmiester commented on #13
Ok. Would be great, if someone could take this over

[2020-03-10 12:16] LeonardSchmiester commented on #21
Did you have a chance to look into this @elbaraim ? Should be just exchanging the data and simulating to see if the results fit, right?

[2020-03-16 17:54] dweindl commented on #58
This was about state-dependent noise, right? (https://github.com/ICB-DCM/AMICI/issues/609)

[2020-03-16 17:56] LeonardSchmiester commented on #58
It's observable-dependent noise I think

[2020-03-16 17:57] dweindl commented on #48
*ping* @elbaraim

[2020-03-16 17:58] dweindl commented on #26
@elbaraim : Do you? :)

[2020-03-16 17:59] dweindl commented on #21
*ping* @elbaraim

[2020-03-16 19:40] elbaraim commented on #26
I did not implement this model so I do not know about the original data collection, however as I remember I ran the conversion into linear space of all `log` measurements.
In this case `log` which translated in `exp(value)`.

[2020-03-16 20:36] JanHasenauer commented on #26
I checked. The original file before updating was correct:

- [ ]  Data should not be transformed. The original data measurement values were correct.

- [ ]  'log' indicated that a log-normally distributed noise was assumed. This should also be included in the updated case.

- [ ] The sigma of all observations should be the same, meaning that there is the same relative measurement noise. In the cur

[2020-03-17 09:39] LeonardSchmiester opened #66 "Add Adlung et al (2017)"
https://www.embopress.org/doi/full/10.15252/msb.20167258

[2020-03-17 09:48] LeonardSchmiester commented on #24
Simulations look better now. Optimization also seems to work (and gives better LLH values than with the nominal parameters)

[2020-03-17 09:52] elbaraim commented on #21
Apparently there is a bug in the visualization file, @erikadudki could you have a look?

[2020-03-17 09:53] LeonardSchmiester commented on #26
These issues should be fixed. The Simulations also look ok to me. Can you point me to a figure or something else that I can use to compare the results @JanHasenauer ? I didn't find anything in the publication so far.

[2020-03-17 11:22] erikadudki commented on #21
fixed it :+1:

[2020-03-17 16:18] elbaraim commented on #48
what exactly you cannot reproduce? the simulated trajectories? @LeonardSchmiester

[2020-03-17 16:26] LeonardSchmiester commented on #48
Yes the simulated data from the old benchmark repository.

[2020-03-17 16:46] JanHasenauer commented on #48
The original implementation is in D2D. Might be good to compare to this.

[2020-03-17 16:47] JanHasenauer commented on #54
I never simulated the model in AMICI. Numerical simulations in D2D were never problematic.

[2020-03-17 16:47] JanHasenauer commented on #54
Did you try to simulate a subset of the conditions are check whether the results agree for those?

[2020-03-17 16:48] LeonardSchmiester commented on #54
Not yet. Will have a look

[2020-03-17 16:50] JanHasenauer commented on #26
Measurement data and simulation should be shown in Figure 2C of the original publication:
https://www.cell.com/fulltext/S2405-4712(16)00003-X
As I'm not sure that we have exactly the same parameters, simulation could also be slightly different.

[2020-03-17 16:57] JanHasenauer commented on #66
I dropped Lorenz an email and asked him for the original D2D files. This would simplify the implementation dramatically. SBML files are also available in the supplement of the manuscript.

[2020-03-18 09:51] LeonardSchmiester commented on #26
Thanks. To me, the model and the simulations look good.

[2020-03-18 09:54] LeonardSchmiester commented on #26
Fixed by #69

[2020-03-18 09:54] #26 closed

[2020-03-18 09:55] LeonardSchmiester commented on #24
Fixed by #69

[2020-03-18 09:55] #24 closed

[2020-03-18 10:03] LeonardSchmiester commented on #25
Do we still want to have this? What would be included in the general info file? LLH / xi2 values?

[2020-03-18 10:50] #48 closed

[2020-03-19 20:40] JanHasenauer opened #72 "Add Rausenberger et al (2010)"
https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0010721

[2020-03-19 20:46] JanHasenauer opened #73 "Add Dudziuk et al. (2019)"
https://www.sciencedirect.com/science/article/pii/S0022519319301936?via%3Dihub

SBML in Biomodels:https://www.ebi.ac.uk/biomodels/BIOMD0000000843

complexity: medium

[2020-03-19 21:26] JanHasenauer opened #74 "Add Noguchi et al. (2013)"
https://www.embopress.org/doi/full/10.1038/msb.2013.19

SBML model: https://www.ebi.ac.uk/biomodels/BIOMD0000000482

Complexity: medium

[2020-03-19 21:38] JanHasenauer opened #75 "Add Miao et al. (2010)"
https://jvi.asm.org/content/84/13/6687.long

SBML: https://www.ebi.ac.uk/biomodels/BIOMD0000000546

Estimate of complexity: low

[2020-03-19 21:56] JanHasenauer opened #76 "Add Heldt et al. (2012)"
https://www.ncbi.nlm.nih.gov/pubmed/20410284

SBML: https://www.ebi.ac.uk/biomodels/BIOMD0000000463

Estimated complexity of implementation: low

[2020-03-19 22:02] JanHasenauer opened #77 "Add Fribourg et al. (2014)"
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4012420/

SBML: https://www.ebi.ac.uk/biomodels/BIOMD0000000529#Overview

Estimated complexity of implementation: low

[2020-03-21 10:23] LeonardSchmiester commented on #5
From #73:
SBML in Biomodels:https://www.ebi.ac.uk/biomodels/BIOMD0000000843

complexity: medium

[2020-03-21 10:23] LeonardSchmiester commented on #73
See #5

[2020-03-21 10:23] #73 closed

[2020-03-21 23:50] JanHasenauer commented on #54
As this is the visualization example used by PEtab, it would be rather valuable if this is working

[2020-03-22 00:38] JanHasenauer opened #78 "Add Fröhlich et al. (2018)"
https://www.cell.com/cell-systems/pdfExtended/S2405-4712(18)30438-1

[2020-03-22 09:25] dweindl commented on #78
Mostly here: https://github.com/ICB-DCM/CS_Signalling_ERBB_RAS_AKT. May need to be double-checked.

[2020-03-22 12:01] JanHasenauer commented on #25
Not sure if this is still necessary as we have now the yaml file. however, it would be really good to have somewhere the reference to the original information.

[2020-03-22 12:04] dweindl commented on #25
You mean the original publication? That should already be stated in the SBML model afaik.

[2020-03-22 12:08] JanHasenauer opened #79 "Add Casaletto_PNAS2019 for D2D"
https://github.com/Data2Dynamics/d2d/tree/master/arFramework3/Examples/Casaletto_PNAS2019

[2020-03-22 12:11] JanHasenauer opened #80 "Add Toensing_InfectiousDisease_BoardingSchool_2018 from D2D"
https://github.com/Data2Dynamics/d2d/tree/master/arFramework3/Examples/Toensing_InfectiousDisease_BoardingSchool_2018

[2020-03-22 12:12] JanHasenauer opened #81 "Add Toensing_InfectiousDisease_Zika_2018 from D2D"
https://github.com/Data2Dynamics/d2d/tree/master/arFramework3/Examples/Toensing_InfectiousDisease_Zika_2018

[2020-03-22 12:16] JanHasenauer commented on #52
I also think that more informative labels would be helpful.
For models which are in D2D, the respective dataset names could be used as a basis. This would also be a good basis for the datasetID.

[2020-03-22 14:04] elbaraim commented on #79
This is already opened in #14

[2020-03-22 14:23] #79 closed

[2020-03-23 10:18] LeonardSchmiester opened #82 "Add models with oscillations"
We discussed that it would be interesting to have some oscillatory models in the collection. Anyone have ideas for models including real experimental data?

[2020-03-23 18:27] JanHasenauer opened #83 "Add Laske et al. (2019)"
https://journals.plos.org/ploscompbiol/article?rev=1&id=10.1371/journal.pcbi.1006944

Complexity estimate: medium

[2020-03-24 14:27] jvanhoefer commented on #82
models regarding cell cycle/circadian clock should be a good point to start...

[2020-03-24 15:46] paulstapor commented on #82
There are tons of those around, but when I was looking for them, it was hard to find models which were parametrized with quantitative data... This is (at least for what I've seen) often done in a qualitative fashion...

[2020-03-25 12:46] JanHasenauer commented on #77
@dweindl @LeonardSchmiester @yannikschaelte The model and the dataset is very interesting, however, we have observables
y(t,u) = x_i(t,u)) / x_i(T,U))
with the time point T \geq t. For some measurements the normalisation is even done with respect to another simulation condition u \neq U.
In my opinion we should get more or less the same of we introduce a scaling constant
y(t,u) = s_i*x_i(t,u)). Th

[2020-03-25 12:52] yannikschaelte commented on #77
I agree that the fitting problem would be different. Since x_i(T,U) is based on the simulations which is not available for (t,u), the scalings s_i would need to estimated. Indeed, this also puts info on a relative scale, so the problem would be similar. If necessary, it should be possible to replicate the exact problem in pyPESTO modifying the AMICI outputs manually. This gets a bit nasty for deri

[2020-03-25 12:54] LeonardSchmiester commented on #77
Agreed. I think it would be fine to implement it as Jan suggested with scalings and accept that it is not 100% the same optimization problem.

[2020-03-25 13:06] dweindl commented on #77
If the goal is not replicating the problem exactly, that works for me too. Should be clearly stated somewhere. Implementing the original problem would require some rather complex(?) PEtab adaptations.

[2020-03-25 13:12] JanHasenauer commented on #77
Agreed!

I think these slight adaptations should be fine. Should be like using a slightly different statistical model.

[2020-03-25 16:43] #7 closed

[2020-03-26 05:53] JanHasenauer commented on #15
@elbaraim @LeonardSchmiester do you need help here with the error propagation?
Would be good to complete.

[2020-03-26 08:20] LeonardSchmiester commented on #15
Might be good. It's quit some time ago since we worked on this. Will have to get into the model again.

[2020-03-26 09:06] LeonardSchmiester commented on #78
We have a similar issue here as in #77. Originally simulations of drug treatments were divided by control simulations. Should we also implement this with scalings (as in the hierarchical paper)?
This was also already done in https://github.com/ICB-DCM/CS_Signalling_ERBB_RAS_AKT
However then we do not really have nominal values for the scaling parameters.

[2020-03-26 11:22] JanHasenauer commented on #78
Yes, I would go for this

[2020-03-26 11:23] JanHasenauer commented on #78
Might be good to also implemented Schmiester et al 2019 than also as it adds the proteomics data.

[2020-03-26 11:24] JanHasenauer commented on #15
Let's have a brief TC in the next days to discuss the error propagation

[2020-03-26 15:16] LeonardSchmiester commented on #22
As the original Fujita model is implemented, I will close this now. @elbaraim Please open a new issue if you want to add a version with additional data.

[2020-03-26 15:16] #22 closed

[2020-03-27 07:40] LeonardSchmiester opened #84 "Add Schmiester et al. (2019)"
https://academic.oup.com/bioinformatics/article/36/2/594/5538985

Datasets 1 + 2 (See figure 4).

Old version available at: https://github.com/ICB-DCM/CS_Signalling_ERBB_RAS_AKT/tree/master/SchmiesterSch2019/CCLE_MCLP

[2020-03-27 14:26] LeonardSchmiester commented on #56
ActD, CISoe, SOCS3oe are not correctly implemented (appear as parameters but not in the reactions etc. in the SBML model).

[2020-03-27 14:28] elbaraim commented on #56
@LeonardSchmiester  should I try to export the model from d2d?

[2020-03-27 15:26] LeonardSchmiester commented on #56
Thanks. I think I fixed it. But you can review my pull request @elbaraim

[2020-03-27 18:50] #56 closed

[2020-04-23 07:24] LeonardSchmiester opened #86 "Add new model Raimúndez et al. (2020b)"
https://www.medrxiv.org/content/10.1101/2020.04.19.20071597v1

[2020-04-23 07:25] elbaraim commented on #86
The models are available under https://zenodo.org/record/3757227#.XqFC6fmxUig

[2020-05-04 09:16] LeonardSchmiester opened #87 "Add Zitzmann et al. (2020)"
https://www.frontiersin.org/articles/10.3389/fmicb.2020.00725/full

The code is not publicly available, but they write it is made available upon request.

D2D was used, so might be easy to implement the model using the D2D PEtab export.

[2020-05-11 14:29] paulstapor commented on #23
Just saw this... An assignment rule might do the trick, maybe? Dunno if SBML knows something like a spline-function however... Guess almost that "no", as zillions of splines are possible and just defining "some" spline is not well-defined then...

[2020-05-11 15:18] LeonardSchmiester commented on #23
In the original version of the model from the old repository, it is done via an assignment rule and events. I guess we could just use that one as soon as events are implemented?! ;-)

[2020-05-25 07:57] JanHasenauer opened #88 "Mosbacher et al. (2020)"
Add after final publication:

https://www.biorxiv.org/content/10.1101/2020.05.05.078352v1

Model is in D2D

[2020-05-25 07:58] LeonardSchmiester opened #89 "Add Mosbacher et al. (2020)"
https://www.biorxiv.org/content/10.1101/2020.05.05.078352v1

[2020-05-25 08:00] JanHasenauer commented on #88
added twice #89

[2020-05-25 08:00] #88 closed

[2020-05-25 08:01] JanHasenauer commented on #89
should only added as soon as the peer-reviewed publication is out

[2020-07-15 09:00] elbaraim opened #91 "Add Milias-Argeitis et al. (2016)"
For model selection
https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004784

[2020-07-22 11:11] LeonardSchmiester opened #92 "Add Kok et al. (2020)"
https://www.embopress.org/doi/10.15252/msb.20198955

[2020-10-05 15:24] elbaraim opened #93 "add Zhao (2020)"
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7095099/pdf/40484_2020_Article_199.pdf

[2020-10-09 07:49] #93 closed

[2020-10-16 08:16] elbaraim opened #96 "add Giordano et al. (2020)"
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7175834/pdf/41591_2020_Article_883.pdf

[2020-10-16 09:34] #96 closed

[2020-11-11 14:58] LeonardSchmiester opened #98 "Add Zitzmann et al. (2020b)"
https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1008421

[2020-12-29 12:47] vanako opened #99 "Add Bertozzi et al. (2020)"
https://www.pnas.org/content/117/29/16732

[2021-01-14 12:00] PaulJonasJost opened #102 "Add Okuonghae et al. (2020)"
https://www.sciencedirect.com/science/article/abs/pii/S0960077920304306

[2021-01-18 12:36] dweindl opened #105 "Migrate .travis.yml to GHA"
... before we run out of compute budget on TravisCI

[2021-01-19 22:36] yannikschaelte commented on #105
See e.g. pyPESTO, pyABC for simple templates ...

[2021-01-20 09:42] #102 closed

[2021-01-26 20:43] FFroehlich opened #106 "Weird log/lin specifications in Chen2009"
I'm having difficulties optimizing the Chen2009 problem. After some investigations, I realized that there are a couple (arbitrary?) parameters that are specified to be on linear scale (see https://github.com/Benchmarking-Initiative/Benchmark-Models-PEtab/blob/master/Benchmark-Models/Chen_MSB2009/parameters_Chen_MSB2009.tsv) with negative boundaries, even though they are used in mass action kinetic

[2021-01-26 20:59] elbaraim commented on #106
Hi @FFroehlich
I implemented that model in the Benchmark collection. I will have a look at the model, probably it is a mistake (the parameter scales as they are now).

Thanks for reporting the issue!

[2021-01-26 21:00] elbaraim commented on #21
reopened: see #106

[2021-01-27 11:19] elbaraim commented on #21
When looking at the issue #106

I also found that in the [original Benchmark collection](https://github.com/Benchmarking-Initiative/Benchmark-Models/tree/master/Benchmark-Models/Chen_MSB2009/SBML) some parameters "got lost" during the initial SBML export. Therefore, also missing in the PEtab implementation.

These are: `KD_iressa_mt`, `KD_iressa_wt`, `k98`, `k99` and `k100`.

This is weird, since

[2021-01-27 11:22] elbaraim commented on #106
Another thing that needs to be checked [here](https://github.com/Benchmarking-Initiative/Benchmark-Models-PEtab/issues/21#issuecomment-768217641)

[2021-01-27 11:29] elbaraim commented on #21
Additionally these parameters from the [original paper](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2644173/)
`k10`, `Kinh2`, `Kinh3`, `Kinh4`, `Ks`, `k13`, `k14`, `k22b`, `k28b`, `k16b`, `k34b`, `k3`, `KD_ATP`, `KD`, `k121`, `kd_v853`
do not appear in the current implementation.

However I checked all of them and they do **not** have any role in the original model (publication). They only appear

[2021-01-27 12:07] LeonardSchmiester commented on #21
So they are defined as parameters in the original SBML model but don't occur in any reactions etc.?! If they are not used in any context I guess it should be fine to not have them in the model

[2021-01-27 12:09] elbaraim commented on #21
Exactly. They **only** appear in the list of parameters.

[2021-01-27 12:18] LeonardSchmiester commented on #21
Where these parameters also in the original model from the publication? Could it be, that they are somehow replaced with other expressions in D2D?

[2021-01-27 12:24] elbaraim commented on #21
These parameters indeed appear in the original model from the publication. Regarding the replacement thing, this is what I am trying to check atm :)

[2021-01-28 11:23] elbaraim commented on #21
So I have checked the model compilation and these parameters are removed in the symbolic expressions, then I guess the replacement that you mentioned is taking place (as I said, they appear in the model definition file). Seems fine then.

I will continue then with the issue regarding the parameter scales. Do you agree @LeonardSchmiester ?

[2021-01-28 11:26] LeonardSchmiester commented on #21
Yes, sounds good.

[2021-02-04 10:20] elbaraim commented on #86
now published in [https://doi.org/10.1016/j.epidem.2021.100439](https://doi.org/10.1016/j.epidem.2021.100439)

[2021-02-04 10:21] LeonardSchmiester commented on #86
Then it would be great to have the models in the benchmark collection :tada:

[2021-02-05 03:47] FFroehlich commented on #21
Whats the status here?

[2021-02-05 08:36] elbaraim commented on #106
addressed in #107

[2021-02-05 11:33] elbaraim commented on #106
Hi @FFroehlich

We have just noticed that some of the nominal values are zero (as they are defined in the original publication and in the PESTO example).

How should we handle those?
1) setting them to very small values, e.g., 1e-15, and adapt the boundaries (this is done in PESTO)
2) fitting them in linear scale with lower bound set to zero (hopefully fixing the bad numerics)

[2021-02-05 12:41] JanHasenauer commented on #106
Were these parameters fitted in the original example? if not, i would set them to zero and not estimate them.

[2021-02-05 13:02] elbaraim commented on #106
Hi @JanHasenauer
in the original publication the statement that i found regarding these zero parameters is the following:
`Rates that are 0 participate in regulation reactions that may be turned on/off for testing hypotheses`

I am not sure how to interpret this...

[2021-02-05 17:45] FFroehlich commented on #106
Thanks for following this up. To me it sounds reasonable to set them to zero on a linear scale and not estimate them.

How was this handled in the Hass2019 benchmark? Do the reference values in the petab file correspond to the best parameters found in Hass2019 or the values from the original publication?
It sounds like it would be helpful to document such pecularities in a readme file in the respe

[2021-02-08 08:23] elbaraim commented on #106
In the benchmark paper these were estimated in linear scale with the bounds present in the current PEtab version of this model.

The reference values as far as I can see they are the same as in the PESTO implementation. Therefore I assume the same as in the original publication (?). If needed, I could try to check them (the publication values).

[2021-02-09 03:04] FFroehlich commented on #106
As far as I can tell

I just had a brief look at the matlab results and in the multistart results, there is a large number of parameter that is set to 0. Also my matlab/d2d skills are a bit rusty, but the d2d contains the following line `ar.qFit(ar.p==0 & ar.qLog10==0) = 2;`, which looks like estimation is disabled for everything that is on a log scale or has zero nominal value. Are you sure those

[2021-02-09 15:37] elbaraim commented on #106
Thanks for having the detailed look. Now I am not sure anymore 😓

Looks like Helge defined the fixing of these parameters (see git history), therefore we could assume these were fixed for the results presented in the benchmark paper (?). I do not know. Still, it is funny that is set to `2` while d2d docs read
`Vector of logicals whether parameter is fixed (0) or fitted (1)`

I guess since it is **

[2021-02-11 18:31] yannikschaelte commented on #86
Yes, that would be great.

[2021-02-15 09:17] #99 closed

[2021-02-15 15:59] LeonardSchmiester commented on #106
From the D2D code it reads `% qFit      0=fixed, 1=fitted, 2=constant`. Not sure, what the difference between fixed and constant is here. But I guess it's correct to set `estimate=0` for these parameters then.

[2021-02-16 14:29] LeonardSchmiester opened #108 "Add McKenna et al. (2021)"
https://www.nature.com/articles/s41598-021-82215-2

[2021-02-18 09:30] paulstapor commented on #23
We can use this one, but I'd actually be happy to use the new spline implementation as soon as this one is finished.
That will change the model to some degree (as now Amici will get cubic Hermite splines and originally the model had cubic C2 splines), but also using events instead of splines does so, so I think it's overall fine...

[2021-03-03 08:38] #21 closed

[2021-03-03 08:38] #106 closed

[2021-03-03 16:03] LeonardSchmiester opened #110 "Add Kok et al. (2020)"
https://www.embopress.org/doi/full/10.15252/msb.20198955

[2021-03-03 16:06] #110 closed

[2021-03-04 13:07] #46 closed

[2021-03-04 15:29] #55 closed

[2021-03-04 16:35] #54 closed

[2021-03-11 18:44] FFroehlich opened #113 "Weber doesn't mark `std_yCERTt`, `std_yPI4K3Bt`, `std_yPKDt` as fixed but they are in the d2d example"

[2021-03-11 18:44] FFroehlich commented on #113
ping @LeonardSchmiester, @LoosC

[2021-03-13 04:56] FFroehlich opened #114 "Complicated Model Implementation for Beer_MolBioSystems2014"
Isn't the whole purpose of PEtab not to have experiment specific parameters in the model?

[2021-03-19 00:34] JanHasenauer commented on #113
I will look into this

[2021-03-19 00:40] JanHasenauer commented on #114
indeed. the problem was that initially a nicer implementation of the model was not possible given the limitations of the toolboxes.
the implementation should definitely be updated.

[2021-06-14 08:45] lcontento commented on #83
The model as published is clearly wrong (one of their observables is a percentage which can go above 100%) and trying to correct it results in different estimates for the parameters (mostly similar, except for one parameter that becomes 10x, but still in the reasonable range as discerned from the literature).
Question: In such cases what is the policy for inclusion in the benchmark collection? Inc

[2021-06-14 08:52] JanHasenauer commented on #83
thanks for letting us know.

the question is obviously difficult, as

1. we do not want to spread wrong models and as
2. we want to use here only published models

in my opinion the bet strategy would be to make the authors aware of the problem and hope that they respond and update it. we could then include the update model.

[2021-06-14 10:18] lcontento commented on #83
They don't publish their code (use the same published model from another paper, but have their own mappings from the model to their measurements), so even if we notify them (but I guess they are already aware that what they used is theoretically wrong and just to be considered as an approximation) they would have nothing to update.

[2021-06-16 13:26] lorenapohl opened #121 "Model Oliveira_Nat2021"
I implemented the Oliveira et al model for the entire state Bahia, Brazil and for the interior cities.
https://github.com/Benchmarking-Initiative/Benchmark-Models-PEtab/pull/120

The main difference in the models is that on the state-wide level there is data available on the occupied hospital and ICU beds. For the interior cities only the cases and deaths are included as observables. Also, on the

[2021-06-17 20:08] #105 closed

[2021-06-21 18:04] dilpath commented on #121
added in #120

[2021-06-21 18:04] #121 closed

[2021-06-29 11:01] stephanmg opened #124 "Add Hartoyoa et al. (2019)"
**Publication details:**
- Title: _Parameter estimation and identifiability in a neural population model for electro-cortical activity_

**Reference:**
- https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1006694

**Code and model availability:**
- https://github.com/cds-swinburne/Hartoyo-et-al-2019-DATA-n-CODE
- MATLAB
- SBML files found in [Biomodels DB](https://www.ebi.ac.uk

[2021-06-29 11:04] stephanmg opened #125 "Add Jenkins et al. (2011)"
**Publication details:**
- Title: _Thermodynamically consistent model calibration in chemical kinetics_

**Reference:**
- https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3117730/pdf/1752-0509-5-64.pdf

**Code and model availability:**
- http://www.sbtoolbox2.org/main.php
- MATLAB
- SBML files found in [Biomodels DB](https://www.ebi.ac.uk/biomodels/BIOMD0000000399)

**Experimental data:**
- https://pu

[2021-06-29 11:07] stephanmg opened #126 "Add Ouzounoglou et al. (2014)"
**Publication details:**
- Title: _In silico modeling of the effects of alpha-synuclein oligomerization on dopaminergic neuronal homeostasis_

**Reference:**
- https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4062111/pdf/1752-0509-8-54.pdf

**Code and model availability:**
- https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4062111/bin/1752-0509-8-54-S2.xml
- COPASI
- SBML files found in [Biomodels DB](htt

[2021-07-19 12:40] anandijain opened #128 "citation/reference to original models"
in the pursuit of reproducibility, it would be great to have some information about each model (like citation and link to original SBML model)

currently there does not seem to be a way to find out where a given model came from.

thanks

[2021-07-19 12:46] paulflang commented on #128
+1. I think a BioModels download url would be good (although I assume you had to make some modifications for PEtab compatibility).

[2021-07-19 12:50] dweindl commented on #128
Hi @anandijain, the DOI of the original publication should already be included in the SBML annotations, for example: https://github.com/Benchmarking-Initiative/Benchmark-Models-PEtab/blob/c9bfb921b4363ac41c6cc53c068bd6f7088e1a69/Benchmark-Models/Alkan_SciSignal2018/model_Alkan_SciSignal2018.xml#L30

[2021-07-20 15:36] #128 closed

[2021-08-06 13:51] elbaraim commented on #5
@LarsFroehling @LeonardSchmiester could you please shortly say what is the status here?

[2021-08-06 13:51] elbaraim commented on #10
@MerktSimon what is the status here?

[2021-08-06 13:52] elbaraim commented on #11
@MerktSimon what is the status on this model?

[2021-08-06 13:56] elbaraim commented on #75
@EmadAlamoudi what is the status here?

[2021-08-11 11:10] EmadAlamoudi commented on #75
Hi @elbaraim , as per our discussion last time, I'm still looking for a HIWI student to work on it.

[2021-08-12 09:58] MerktSimon commented on #10
currently on hold for time reasons. If anyone else wants to go for it, please do so.

[2021-08-12 09:58] MerktSimon commented on #11
currently on hold for time reasons. If anyone else wants to go for it, please do so.

[2021-08-12 11:25] elbaraim commented on #89
This preprint has been posted on May 05, 2020 and I have not find it published in peer-review journals yet.
Shall we still wait? or close the issue and re-open once it is peer-review published?

[2021-10-12 20:43] FFroehlich opened #135 "Bachmann_MSB2011 missing prior for init_EpoRJAK2"
d2d implementation includes a normal prior with mean 0.599471 and standard deviation 0.193459

[2021-10-13 02:36] FFroehlich opened #137 "Isensee_JCB2018 is missing parameter priors"
Many parameters are subject to priors, which all seem to be missing

[2021-10-14 19:34] FFroehlich opened #139 "Schwen_PONE2014 is missing priors"

[2021-10-16 16:08] #139 closed

[2022-01-11 20:32] jvanhoefer commented on #58
@LeonardSchmiester Would you have the PEtab tables around (i.e. at least the data)? I would be interested in using the raw data and would not need the model itself

[2022-01-11 20:47] dweindl commented on #58
Here? https://github.com/Benchmarking-Initiative/Benchmark-Models-PEtab/tree/model_Raia_CancerResearch2011/Benchmark-Models/Raia_CancerResearch2011

[2022-01-12 09:11] jvanhoefer commented on #58
Ah, thank you, did not have a look at all the branches :)

[2022-02-02 14:27] dilpath opened #147 "Change SBML model ID and name to benchmark ID, in all models"
e.g.
https://github.com/Benchmarking-Initiative/Benchmark-Models-PEtab/blob/f979747a9185156cd1354844f63c93c3ed904860/Benchmark-Models/Blasi_CellSystems2016/model_Blasi_CellSystems2016.xml#L3

A small convenience when these values are used.

[2022-02-07 11:20] dilpath opened #150 "Add missing references to SBML files"
See empty cells in the References column of the Overview table in the README

[2022-02-10 00:08] dilpath commented on #83
closed in #127

[2022-02-10 00:08] #83 closed

[2022-02-15 11:00] dilpath opened #155 "Change `<model>` `metaid` in all models"
Currently varies, with values like `COPASI0`, `arFramework3`, or the model name. Seen in #153

Possible options:
- the model name
- `benchmark_models_petab`

[2022-02-21 15:44] #147 closed

[2022-02-21 15:44] #150 closed

[2022-02-21 16:10] dilpath opened #156 "Add missing visualization files"
- [ ] Bachmann_MSB2011
- [x] Beer_MolBioSystems2014
- [ ] Blasi_CellSystems2016
- [x] Borghans_BiophysChem1997
- [x] Brannmark_JBC2010
- [x] Crauste_CellSystems2017
- [x] Elowitz_Nature2000
- [ ] Fiedler_BMC2016
- [x] Lucarelli_CellSystems2018
- [x] Perelson_Science1996
- [x] Raimundez_PCB2020
- [x] Sneyd_PNAS2002
- [x] Weber_BMC2015
- [x] Zheng_PNAS2012

Once done, can be tested by some `check_..

[2022-02-21 16:12] dweindl commented on #156
Related: https://github.com/Benchmarking-Initiative/Benchmark-Models-PEtab/issues/28

[2022-03-04 09:55] dweindl commented on #58
Supported by https://github.com/AMICI-dev/AMICI/pull/1692, in case somebody feels like finishing this one.

[2022-07-21 19:56] dweindl opened #164 "Add CITATION.cff"
Would be good to have a [CITATION.cff](https://citation-file-format.github.io/), showing how the benchmark collection is to be cited.

[2022-07-22 06:54] stephanmg commented on #164
See PR #165

[2022-08-01 08:55] #78 closed

[2022-08-05 15:12] yannikschaelte opened #166 "Simplify installation"
Would it make sense to make the collection more easily installable, e.g. as a python package via pypi?

Advantages:
* Ease of installation.
* Easy to maintain only a single collection on a system, if installation path is globally registered.
* Could provide access functions (overview, list of models, ...)

[2022-08-16 13:25] #166 closed

[2022-10-12 06:20] shoepfl opened #168 "Specification of model time in observables file unclear"
Hi,

We try to reproduce the MAPK model of Santos et al. 2007 in PEtab with a students course,
however they normalized their measurements to the peak value. I.e. the peak in the measurement data is 1 and all other values are given relative to this one.

Is there a way to do this normalization also in the observable formula?

Something like observableFormula = Species/Species(time = peak_time)?

I

[2022-10-12 06:23] shoepfl commented on #168
Sorry i was in the wrong repo - i posted the question to the PEtab repo itself

[2022-10-12 06:23] #168 closed

[2022-11-22 16:26] FFroehlich opened #169 "Machine readable model property overview"
Would be nice to have the table provided in README.md in some machine readable format like `.csv` or `.tsv`.

[2022-11-22 17:27] dweindl commented on #169
Only requires saving this `DataFrame` as csv/tsv https://github.com/Benchmarking-Initiative/Benchmark-Models-PEtab/blob/11dfed1e44286f10ce936a2524bb06b39855a525/scripts/overview.py#L113

[2022-11-23 18:59] FFroehlich commented on #169
okay, maybe it makes sense to expose that function in the python package :)